NAMESPACE=example.com
DEBUG=true
LOG_LEVEL=info
HTTP_PORT=80
HTTP_CORS=true
ADMIN_JWT_SECRET=change_me_secret
PG_DSN="postgres://user:password@localhost:5432/database?sslmode=disable"
GW_PORT=8000
SNAPSHOT_GRPC_ADDRESS=localhost:5050
LEGACY_DM_BASE_URL=https://api.dm.yc.mdev.kz
LEGACY_DM_REFRESH_TOKEN=
