DEBUG=true
LOG_LEVEL=info

GRPC_PORT=5050
HTTP_PORT=80
HTTP_CORS=true

ADMIN_JWT_SECRET=change_me_secret
PG_DSN="postgres://user:password@localhost:5432/database?sslmode=disable"

LEGACY_DM_BASE_URL=
LEGACY_DM_REFRESH_TOKEN=
